edit:
    command: code
    args:
        - --wait

diff:
  command: "code"
  args:
  - "--wait"
  - "--diff"

# https://github.com/twpayne/chezmoi/discussions/2424

scriptEnv:
    HTTP_PROXY : "http://127.0.0.1:10808"
    HTTPS_PROXY : "http://127.0.0.1:10808"
